<h1>Burgers</h1>

<h2>Burger Order</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burger</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add an Oder</h2>
<form class="create-form">

    <div class="form-group">
        <label for="new-burger">Burger Name:</label>
        <input type="text" id="new-burger" name="name">
    </div>

    <button type="submit">Add Order</button>
</form>